:root {
    --base-color: white;
    --base-varient: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --input-col: #d6d6d6;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --shadow-sec: rgba(0, 0, 0, 0.19);
}

* {
    margin: 0;
    padding: 0;
}

.darkmode {
    --base-color: #191919;
    --base-varient: #1E1E1E;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #2e2e2e;
    --accent-color: #0071ff;
    --shadow-color: rgba(255, 255, 255, 0.041);
    --shadow-sec: rgba(255, 255, 255, 0);
}

body {
    transition: all .2s ease-in-out;
    font-family: 'Poppins';
    background-color: var(--base-varient);
    color: var(--text-color);

}

.stick {
    position: relative;
}

nav {
    z-index: 99;
    position: sticky;
    top: 3px;
    left: 5vw;
    padding: 22px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--base-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-sec);
    width: 90vw;
    border-radius: 20px;

    ul {
        display: flex;
        gap: 80px;
        list-style: none;

        li a {
            color: var(--text-color);
            cursor: pointer;
            transition: .2s all ease-in-out;
        }

        li a:hover {
            color: purple;
            scale: 1.1;
        }

        li:hover {
            color: purple;
            scale: 1.1;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    input {
        display: none;
    }
}
.leftSide svg{
    display: none;
}
#theme-switch {
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 17px;
    right: 7rem;
    border: none;
    background-color: var(--base-color);
    cursor: pointer;

    svg {
        fill: var(--secondary-text);
    }

    svg:last-child {
        display: none;
    }
}
.middleSide{
    svg{
        display: none;
    }
}
.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

#Welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;

    h1,
    span,
    p {
        padding: 32px 0;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    p {
        font-size: 22px;
    }

    span {
        text-align: center;
        color: purple;
        position: absolute;
        font-size: 18px;
        left: 10.5%;
    }

    img {
        margin-top: -100px;
        width: 500px;
    }

    button {
        margin-bottom: 173px;
    }
}

hr {
    background-color: var(--text-color);
}

.About {
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
    margin-bottom: 138px;
    align-items: center;

    img {
        width: 700px;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    p {
        font-size: 22px;
        text-align: center;
        margin: 60px 0;
    }

    span {
        text-align: center;
        position: absolute;
        left: 63%;
        color: purple;
        font-size: 18px;

    }

}

.typed-cursor {
    display: none;
}

.Services {
    .htmlPart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 130px
    }

    .cssPart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 130px
    }

    .jsPart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 130px;
        margin-bottom: 65px;
    }
}

.Contact {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-sec);
    * {
        font-family: 'Poppins';
    }
    margin-left: 24vw;
    margin-top: 8vw;
    margin-bottom: 4vw;
    border-radius: 19px;
    width: 50vw;
    background-color: var(--base-color);
    h1 {
        margin-left: 80px;
        padding-top: 40px;
    }

    p {
        margin-left: 80px;
        margin-bottom: 40px;
    }

    .inputs {
        margin-left: 72px;
    }

    input {
        padding: 16px 60px;
        border: none;
        margin: 12px 12px;
        background-color: var(--input-col);
    }

    textarea {
        resize: none;
        padding: 12px;
        height: 90px;
        width: 572px;
        margin-top: 16px;
        margin-left: 83px;
        border: none;
        background-color: var(--input-col);
    }

    .terms {
        margin-left: 72px;
        margin-top: 22px;

    }
    b{
        a{
            color: purple;
        }
    }
    button {
        padding: 12px 32px;
        margin: 15px 80px;
        margin-bottom: 50px;
        background-color: var(--text-color);
        color: var(--base-color);
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }

    #read {
        border: none;
        background-color: var(--input-col);
        outline: 0;
    }
}

footer {
    background-color: #111528;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    box-shadow: 1px 1px 19px -8px var(--shadow-color);

    * {
        text-decoration: underline solid .1px var(--base-color);

        * {
            cursor: pointer;
        }
    }
}
.submited{
    h1{
        text-align: center;
        margin: 21.5vh 0;
        font-size: 5rem;
    }
    button{
        padding: 12px 32px;
        margin-bottom: 50px;
        margin-left: 45vw;
        background-color: var(--text-color);
        color: var(--base-color);
        border: none;
        border-radius: 2px;
        cursor: pointer;
        a{
            color: var(--base-color);
            text-decoration: none;
        }
    }
}